html{
	height:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body{min-height:100%; font-size:100%}
::selection {
	background: #FFAE10;
}
::-moz-selection {
	background: #FFAE10;
}
*{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
*:first-child+html .row, *:first-child+html .clearfix{zoom:1}
*:after, *:before{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
h1, h2, h3, h4, h5, h6{margin:0; color:#181818; font-family:"Times New Roman",serif; font-weight:bold; text-rendering:optimizelegibility}
p img{margin:0}
a{color:#333; text-decoration:none; outline:0}
a:visited{color:#333; text-decoration:underline; outline:0}
a:hover, a:focus{color:#000}
p a{line-height:inherit}
p a:visited{line-height:inherit}
ul, ol{margin:0; padding:0;}
ul{list-style:none outside}
a:hover{
  background-color: #fcffcd;
}
a img {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease; }
a img:hover {
	*zoom: 1;
/*	opacity: 0.7;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
	filter: alpha(opacity = 70);*/}
nav a, menu a {
  text-decoration: none;
  color: #555;
}
.up a {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.up a:hover{
  background-color: #FFF;
}
.logo {
    float: left;
}
.rslides_container .slides{
  margin:0;
}
.large-btns_nav:active{
  opacity:1.0;
}
.large-btns_nav.next{
  left:auto;
  background-position:right 50%;
  right:0;
}
.row:after{
  content:"";
  display:table;
  clear:both;
}
.centered-btns_nav:focus, .transparent-btns_nav:focus, .large-btns_nav:focus{
  outline:none;
}
.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs{
  margin-top:.625em;
  padding:0;
  text-align:center;
}
.centered-btns_tabs li, .transparent-btns_tabs li, .large-btns_tabs li{
  display:inline;
  float:none;
  _float:left;
  *float:left;
  margin-right:.3125em;
}
.centered-btns_tabs a, .transparent-btns_tabs a, .large-btns_tabs a{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-border-radius:.9375em;
  -moz-border-radius:.9375em;
  border-radius:.9375em;
  background:#ccc;
  background:rgba(0,0,0,0.2);
  display:inline-block; _display:block;
  *display:block;
  -webkit-box-shadow:
  inset 0 0 2px 0 rgba(0,0,0,0.3);
  -moz-box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.3);
  box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.3);
  width:.5625em; height:.5625em;
}
.centered-btns_here a, .transparent-btns_here a, .large-btns_here a{
  background:#222;
  background:rgba(0,0,0,0.8);
}
.centered-btns_nav{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position:absolute;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  top:50%; left:0;
  opacity:0.7;
  overflow:hidden;
  text-decoration:none;
  background:transparent url("../img/themes.gif") no-repeat left top;
}
.centered-btns_nav:active{
  opacity:1.0;
}
.centered-btns_nav.next{
  left:auto;
  background-position:right top;
  right:0;
}
.transparent-btns_nav{
  position:absolute;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  top:0; left:0;
  display:block;
  background:#fff;
  opacity:0;
  filter:alpha(opacity=1);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.transparent-btns_nav.next{
  left:auto;
  right:0;
}







