html{
/*ステップ1*/
	font-size:62.5%;　/*←em,rem,px,%の表記を合わせやすくする指定*/　
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
/*ステップ3*/
	-webkit-tap-highlight-color:#fcffcd;　/*←タップしたらハイライトする際の色を指定*/
}
body{
	font-family: Signika,serif;
/*ステップ1*/
	font-size:1.6rem;　/*←親からの継承なしで相対的なサイズを指定出来る*/
	line-height:1.5em;
	line-height:150%;
	color:#444;
	-webkit-font-smoothing:antialiased;/*フォントをスムーズに*/
/*ステップ3*/
	-webkit-text-size-adjust:100%;
}
img{
/* ステップ1*/
	max-width:100%;
	height:auto;
	border:0;
	-ms-interpolation-mode:bicubic;
}
header#navtop {
/* ステップ1*/
	margin-bottom: 0.5em;
	/*margin-bottom: 5px;*/
	clear: both;
	overflow: hidden;
}
nav,.side,footer{
		font-family: Architects-Daughter,serif;
}
nav {
    float: right;
}
nav ul {
	float: left;
	overflow: hidden;
	line-height: 200%;
}
nav ul li{
	float: left;
	border-left:1px solid #ddd;
/*ステップ1*/
	padding: 0 0.6em;
	/*padding: 0 6px;*/
}
.side{
/*ステップ1*/
	width:20%;
	min-width:90px;
	/*width:196px;*/
	height:100%;
/*ステップ1*/
	padding:0 1em;
	/*padding:0 10px;*/
	float:left;
	margin:0 auto;
	overflow:hidden;
}
.side ul{
/*ステップ1*/
	width:95%;
	/*width:186px;*/
	height:auto;
 	text-align:left;
 	margin-left:4px;
	color:#555;
  }
 .side ul li{
 	line-height:200%;
}
.side ul li:nth-child(2n) { 
/*ステップ1*/
	padding-left: 1.6em;
	/*padding-left: 16px;*/
	background: transparent url("../img/snow.gif") no-repeat left 0.5em; 
 } 
.side ul li:nth-child(2n+1) {  
	padding-left: 16px;
	background: transparent url("../img/snow_green.gif") no-repeat left 0.5em; 
 }  
.container {
	margin: 0 auto;
/*ステップ1*/
	padding: 0 0.5em;
	/*padding: 0 5px;*/
/*ステップ1*/
	max-width: 100%;
	width: 100%;
	/*width: 980px;*/
/*ステップ1*/
	padding-top: 2em;
	/*padding-top: 20px;*/
}
.one ul li{
	list-style-image: url(../img/star.png);
/*ステップ1*/
	margin-left:3em;
	/*margin-left:30px;*/
}
.row{
/*ステップ1*/
	width:100%;
	/*width:980px;*/
/*ステップ1*/
	margin-bottom:1.2em;
	/*margin-bottom:12px;*/
	zoom:1;
}
.row .column, .row .columns{
/*ステップ1*/
	margin-bottom:2%;
	/*margin-bottom:20px;*/
}
.rslides_container{
	display:block;
}
.list-bordered{
	list-style-type:none; 
/*ステップ1*/
	margin:0 0 1.5em 0;
	/*margin:0 0 15px 0;*/
	padding:0
}
.list-bordered li{
/*ステップ1*/
	margin-bottom:0.375em;
	padding-bottom:0.375em;
	/*margin-bottom:3.75px;
	padding-bottom:3.75px;*/
	border-bottom:1px dashed #c7ced6;
}
.list-bordered li:last-child{
	margin-bottom:0;
	padding-bottom:0;
	border-bottom-width:0;
}
.rslides{
	position:relative;
	list-style:none;
	overflow:hidden;
/*ステップ1*/
	width:100%;
	/*width:784px;*/
	padding:0; margin:0;
}
.rslides li{
	position:absolute;
	display:none;
/*ステップ1*/
	width:100%;
	/*width:784px;*/
	margin:0;
	left:0;
	top:0;
}
.rslides li:first-child{
	position:relative;
	display:block;
	float:left
}
.rslides img{
	display:block;
	height:auto;
	float:left;
/*ステップ1*/
	width:100%;
	/*width:784px;*/
	border:0;
}
.rslides_container{
/*ステップ1*/
	margin-bottom:1.125em;
	/*margin-bottom:11.25px;*/
	position:relative;
	float:left;
/*ステップ1*/
	width:100%;
	/*width:784px;*/
}
.contents{
/*ステップ1*/
	width:80%;
	/*width:784px;*/
	float:left;
}
.centered-btns_nav{
	height:3.8125em;
	width:2.375em;
	margin-top:-3.4em;
}
.transparent-btns_nav{
/*ステップ1*/
	width:48%;
	height:91%;
	/*width:480px;
	height:910px;*/
}
.large-btns_nav{
	position:absolute;
/*ステップ3*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	opacity:0.6;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	top:0;
	bottom:0;
	left:0;
	background:#000 url("../img/themes.gif") no-repeat left 50%;
/*ステップ1*/
	width:2.375em;
	/*width:23.75px;*/
}
.grid-wrap {
/*ステップ1*/
	margin-left: -1.5em;
	/*margin-left: -15px;*/
	overflow: hidden;
	*zoom:1;
}
.grid-wrap:before,.grid-wrap:after{
  	content:""; display:table
}
.grid-wrap:after{
  	clear:both
}
.grid {
	float: left;
/*ステップ1*/
	padding-left: 2em;
	/*padding-left: 20px;*/
/*ステップ1*/
	width: 100%;
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(/js/boxsizing.htc);
} 
.half-gutter {
/*ステップ1*/
	margin-left: -1.5em;
	/*margin-left: -15px;*/
}
.half-gutter .grid-col {
/*ステップ1*/
	padding-left: 1.5em;
	/*padding-left: 15px;*/
}
.col-one-third {
/*ステップ1*/
	width: 33.333%;
	/*width: 326.666px;*/
}
.divide-top{
	background: url(../img/footer_line.png) repeat-x top left;
/*ステップ1*/
	padding-top: 2em;
	margin-top: 1.5em;
	/*padding-top: 20px;
	margin-top: 15px;*/
}
footer  {
	color: #555;
/*ステップ1*/
	padding-bottom: 1em;
	/*padding-bottom: 10px;*/
}
footer ul {
	float: right;
	overflow: hidden;
}
footer li {
	float: left;
	border-right: 1px solid #DDD;
/*ステップ1*/
	margin-right: 1em;
	padding-right: 1em;
	font-size: 1.2em;
	/*margin-right: 10px;
	padding-right: 10px;
	font-size: 12px;*/
}
footer li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}

/*ステップ2*/

/*ブラウザ幅が786px以下641pxまでの指定*/
	@media screen and (max-width:786px){
	header nav {
		width: 100%;
	}
	header nav ul {
		padding: 0 ;
		border-left:none;
		line-height: 200%;
		float: left;
	}
	header nav ul li {
		padding: 0 0.6em ;

	}
	footer li {
		border:none;
	}
}

/*ブラウザ幅が640px以下481pxまでの指定*/
@media screen and (max-width:640px){
	.rslides_container{
		display:none;
	}
	.side{
	background: url(../img/footer_line.png) repeat-x top left;
	padding-top: 2em;
	margin-top: 1.2em;
	}
	.side,.side ul{
		width:100%;
	}
	.side ul li{
		float:left;
	}
	.contents{
		width:100%;
	}
	footer li {
	}

}

/*ブラウザ幅が480px以下の指定*/
@media screen and (max-width:480px){
	.toggle{
		float:left
	}
	nav ul{
		align:center;
		margin: 0 auto;
	}
	header nav ul li {
	}
	footer li {
		border-right: none;
	}


}












